.password-change__form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.password-change__avatar{
  border-radius: 50%;
  width: 130px;
  height: 130px;
  background: var(--main-profile-avatar-bg-color) url(../../images/Union.png) center no-repeat;
  margin: 60px 0 0 0;
}

.password-change__title {
  font-family: var(--main-inter-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--main-dark-text-color);
  margin: 21px 0 0 0;
}

.password-change__input-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin: 77px auto 0 auto;
}

.password-change__input-label {
  font-family: var(--main-inter-font);
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: var(--main-dark-text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 510px;
  padding-bottom: 9px;
  border-bottom: 1px solid var(--main-border-bottom-color);
}

.password-change__input-label:last-child {
  padding-bottom: 0;
  border: none;
}

.password-change__input-label_error {
  font-family: var(--main-inter-font);
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: var(--main-error-red-color);
  margin-top: 6px;
}

.password-change__input {
  color: var(--main-input-grey-color);
  outline: 0;
  background: transparent;
  border: none;
  text-align: right;
  padding: 0;
  font: small-caption;
  font-size: 10px;
  letter-spacing: 1px;
}

.password-change__save-button {
  background: var(--main-theme-color);
  width: 280px;
  height: 37px;
  margin-top: 157px;
  border-radius: 8px;
  border: none;
  font-family: var(--main-inter-font);
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: var(--main-white-color);
  cursor: pointer;
}

.password-change__save-button:hover {
  opacity: 0.7;
  transition: opacity 0.6s;
}